<main
  class="w-full flex-1 px-5 sm:px-8 md:px-[10%] lg:px-[20%] h-screen max-h-screen flex flex-col mx-auto bg-slate-50"
>
  <div class="mb-6 md:mb-12">
    <div class="font-bold text-4xl">
      Hello, Owner
      <span class="text-blue-500 text-7xl">.</span>
    </div>
    <div class="font-bold text-2xl text-gray-400">
      Here are your tasks for the day
    </div>
  </div>

  <div class="flex flex-1 flex-col overflow-y-auto">
    <app-list-container [tasks]="tasks" class="flex flex-1 overflow-hidden">
    </app-list-container>
    <app-task-input></app-task-input>
  </div>
</main>
